# Git Attributes Configuration for WooCommerce for Japan
# This file specifies files and directories that should be excluded from Git archive exports.
# Files marked with 'export-ignore' will not be included when creating distribution packages.
# This helps keep production releases clean by excluding development-only files.

.gitattributes export-ignore
.gitmodules export-ignore
.gitignore export-ignore
.github export-ignore
.wp-env.json export-ignore
.distignore export-ignore
*.log export-ignore
README.md export-ignore
package.json export-ignore
composer.json export-ignore
webpack.config.js export-ignore
docs export-ignore
wordpress_org_assets export-ignore
assets/css/*.scss export-ignore
LICENSE export-ignore
src/* export-ignore
assets/*.js.map export-ignore
assets/*.css.map export-ignore
bin/* export-ignore
vendor/* export-ignore
tests/* export-ignore
.phpcs.xml.dist export-ignore
.phpunit.xml.dist export-ignore
promotion-json/* export-ignore