.wc-block-components-shipping-rates-control .jp4wc-delivery-fields{
    margin-top: 2em;
    .delivery-time{
        margin-top: 0!important;
    }
    select.components-select-control__input {
	    font-size: 1.3em;
        height: 3em;
    }
}
